@import "../../vars.css";

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  z-index: 2;
  background-color: var(--color-bg);
  box-shadow: 0 4px 8px rgba(248, 248, 248, 0.5);
}

.title {
  font-size: 48px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
  margin-left: 10px;
}

.title:hover {
  color: var(--color-primary);
}

.menuBtn {
  display: none;
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
  padding-right: 100px;
}

.menuItems a {
  font-size: 25px;
  color: var(--color-text);
  text-decoration: none;
}

.menuItems a:hover {
  color: var(--color-primary);
}

.logo {
  max-width: 100px;
  height: auto;
}

.logo,
.title {
  vertical-align: middle;
  display: inline-block;
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    position: absolute;
    right: 0;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: rgb(35, 109, 25);
    background: linear-gradient(
      0deg,
      rgba(15, 71, 18, 0.2) 0%,
      rgb(101, 172, 73) 100%
    );
    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }

  .menuOpen {
    display: flex;
    z-index: 1;
  }

  .logo {
    width: 25%;
  }

  .title {
    font-size: 28px;
  }
}
